/* Set the scroll behavior to smooth so that when you click the in the header, the screen scrolls down rather than jumps */
html {
  scroll-behavior: smooth;
}

/* Set the margin to 0 to make sure the page stretches all the way to the edge of the browser window. */
body {
  margin: 0;
}

/* Removed min-width because some phones are narrower than 500px */
header, footer {
  background-color: #0d47a1;
  text-align: left;
  /*  min-width: 500px; */
}
/* Changed header color and default font, set height to full screen height, set display to flex in order to easily center contents. (We would also use gride, but I went with flex 
since we only have a single column.) Also, setting the font-family to Work Sans. Remember, the cascade in "Cascading Style Sheets" means that these font settings will flow down 
in to everything inside the wraper unless we override it -- which we do with h1 */
header {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  min-height: 50vh;
  display: flex;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40%, 1fr) ) ;
  grid-gap: 20px;
  margin-top: 44px;

  justify-items: center;
  justify-content: center;
  align-items: stretch;
  align-content: center;
}

h1 {
  font-family: 'Libre Baskerville', serif;
  font-size: calc(1em + 3vw);
  padding-bottom: .67em;
  border-bottom: 1px solid;
  line-height: 1.3;
}

h2 {
  font-family: 'Libre Baskerville', serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-align: left;
  color: #0d47a1;
  padding: 10px 0px 10px 10px;
}

img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

.wrapper {
    max-width: 1150px;
    margin: auto;
    padding: 50px;
    display: block;
}

.bio {
  color: #ffffff;
  font-size: 24px;
  font-family: 'Work Sans';
}

.buttonBox {
  display: flex;
  justify-content: center;
  align-content: center;
}

.myButton {
  border-radius: 28px;
  border: 1px solid #ffffff;
  cursor: pointer;
  color: #ffffff;
  font-size: 20px;
  padding: 16px 31px;
  text-decoration: none;
  margin: 1.69em auto;
}

.myButton:hover {
  background-color: rgba(249, 105, 14, 1);
}

.myButton:active {
    position:relative;
    top:1px;
}

.recipe {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
  width: 100%;
}

a {
  color: #c1121f;
}

.a {

}

.c {

}

.time {
  padding-left: 10px;
  padding-top: 10px;
  width: 20px;
  height: auto;
}

.mins {
  display: inline-block;
  font-family: 'Libre Baskerville', serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.3px;
  text-align: left;
  color: #4a4a4a;
  position: relative;
  bottom: 5px;
}

.description {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.29;
  letter-spacing: 0.1px;
  text-align: left;
  color: #4a4a4a;
  padding: 10px 0px 10px 10px;
  border-top: 1px solid #4a4a4a;
}

.logo {
  width: 115px;
  height: 21.1px;
  object-fit: contain;
  padding: 20px;
}

.container {
/*  min-width: 500px; */
  margin: auto;
}

footer div {
  height: 100%;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  display: flex;
  align-content: center;
  padding: 10px 20px;
  color: rgba(255, 255, 255, 0.5);
}

@media all and (max-width:700px) {
  main {
    grid-template-columns: 1fr;
  }
  img {
    height: 40vh;
  }
}
